<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endGame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-175,91}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{825,690}</string>
                <key>textureRect</key>
                <string>{{828,301},{87,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endGame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{241,83}</string>
                <key>spriteSize</key>
                <string>{87,70}</string>
                <key>spriteSourceSize</key>
                <string>{825,690}</string>
                <key>textureRect</key>
                <string>{{828,373},{87,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endGame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-48}</string>
                <key>spriteSize</key>
                <string>{329,454}</string>
                <key>spriteSourceSize</key>
                <string>{825,690}</string>
                <key>textureRect</key>
                <string>{{1,693},{329,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endGame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-67}</string>
                <key>spriteSize</key>
                <string>{261,448}</string>
                <key>spriteSourceSize</key>
                <string>{825,690}</string>
                <key>textureRect</key>
                <string>{{457,693},{261,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endGame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{248,-219}</string>
                <key>spriteSize</key>
                <string>{137,112}</string>
                <key>spriteSourceSize</key>
                <string>{825,690}</string>
                <key>textureRect</key>
                <string>{{828,162},{137,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endGame6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-207}</string>
                <key>spriteSize</key>
                <string>{159,116}</string>
                <key>spriteSourceSize</key>
                <string>{825,690}</string>
                <key>textureRect</key>
                <string>{{828,1},{159,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endGame7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{825,690}</string>
                <key>spriteSourceSize</key>
                <string>{825,690}</string>
                <key>textureRect</key>
                <string>{{1,1},{825,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endGame.png</string>
            <key>size</key>
            <string>{945,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ff3479feaf359c9669475af7ecabeb:eb428b87ae8753d59132432e7b1a7b9c:8d729e29ec49589d023d10c8d7fc7fc8$</string>
            <key>textureFileName</key>
            <string>endGame.png</string>
        </dict>
    </dict>
</plist>
