<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AXX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>BXX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>CXX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>DXX.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>redb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eqGE.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3594cc7d52d7964ae0edb108f04769$</string>
            <key>textureFileName</key>
            <string>eqGE.png</string>
        </dict>
    </dict>
</plist>
