<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP+1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,-6}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{335,87},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP+2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-5}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{295,51},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP+3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-6}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{145,91},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP+4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-4}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{37,89},{32,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HP+5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-4}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{317,45},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP+6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-4}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{257,93},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{109,91},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HP-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{105,53},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HP-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{77,53},{36,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HP-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{261,51},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HP-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{289,1},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qi+1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-3}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{39,53},{34,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qi+2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-3}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{295,87},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qi+3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-4}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{73,91},{32,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qi+4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-4}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{1,53},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qi+5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-4}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{179,47},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qi+6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-2}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{245,1},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qi-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{133,47},{42,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qi-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-1}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{219,89},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qi-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-1}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{1,89},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qi-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-1}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{195,1},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qi-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,0}</string>
                <key>spriteSize</key>
                <string>{62,50}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{69,1},{62,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,-2}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{317,1},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,-2}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{179,89},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>water3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-115,-1}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{221,47},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,1}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{133,1},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,0}</string>
                <key>spriteSize</key>
                <string>{66,50}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PFUI.png</string>
            <key>size</key>
            <string>{358,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ac2090e3c12cffe2c5e86d2a4f23b1:c9dbc7004669e38cba6f4d8af7edc363:aabe2ade13dc2b70b77b780ef2a2bfc9$</string>
            <key>textureFileName</key>
            <string>PFUI.png</string>
        </dict>
    </dict>
</plist>
