<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wind1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>wind2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{1,165},{260,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{263,263},{260,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{1,329},{260,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{1,493},{260,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{263,525},{260,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wind7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{1,657},{260,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{1,821},{260,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{1,821},{260,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wind10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,162}</string>
                <key>spriteSourceSize</key>
                <string>{260,162}</string>
                <key>textureRect</key>
                <string>{{263,1},{260,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wind.png</string>
            <key>size</key>
            <string>{426,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83cc749aba6983acc479a392437ff86e:5cf319c726fff6b544b6ac2d0500f240:5f051b70d6983df23ae320420545ef25$</string>
            <key>textureFileName</key>
            <string>wind.png</string>
        </dict>
    </dict>
</plist>
