<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-129,25}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{371,191},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,23}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{425,191},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,31}</string>
                <key>spriteSize</key>
                <string>{116,50}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{371,139},{116,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,37}</string>
                <key>spriteSize</key>
                <string>{114,70}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{151,157},{114,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,39}</string>
                <key>spriteSize</key>
                <string>{148,74}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,155},{148,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-125,38}</string>
                <key>spriteSize</key>
                <string>{134,74}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{341,1},{134,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,38}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{267,157},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,61}</string>
                <key>spriteSize</key>
                <string>{182,152}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a251.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-113,34}</string>
                <key>spriteSize</key>
                <string>{162,60}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{185,95},{162,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126,33}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{349,77},{136,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,36}</string>
                <key>spriteSize</key>
                <string>{154,92}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{185,1},{154,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Qiang-6.png</string>
            <key>size</key>
            <string>{488,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512023382cf3682af7e0a1ca1bf338fa:48fac3bfb4670eb13b8dd3655c78d526:af4ed6dd321941853bf8b650f8506582$</string>
            <key>textureFileName</key>
            <string>Qiang-6.png</string>
        </dict>
    </dict>
</plist>
