<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,55}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{185,285},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,51}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{63,325},{66,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,55}</string>
                <key>spriteSize</key>
                <string>{116,50}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{131,325},{116,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,61}</string>
                <key>spriteSize</key>
                <string>{114,70}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{61,377},{114,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,51}</string>
                <key>spriteSize</key>
                <string>{138,58}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{63,185},{138,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,62}</string>
                <key>spriteSize</key>
                <string>{126,58}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{185,157},{126,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,60}</string>
                <key>spriteSize</key>
                <string>{102,58}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,351},{102,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,92}</string>
                <key>spriteSize</key>
                <string>{152,182}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a251.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,57}</string>
                <key>spriteSize</key>
                <string>{164,60}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,185},{164,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,57}</string>
                <key>spriteSize</key>
                <string>{136,60}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{123,185},{136,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,61}</string>
                <key>spriteSize</key>
                <string>{154,92}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{155,1},{154,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Qiang-4.png</string>
            <key>size</key>
            <string>{248,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a08c4521ae655680b77ecda30cb57a5:e91174711df81bc7fc4675ac8e7bd613:080c6ea2f82917f84279951c92e11c01$</string>
            <key>textureFileName</key>
            <string>Qiang-4.png</string>
        </dict>
    </dict>
</plist>
