<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-8}</string>
                <key>spriteSize</key>
                <string>{34,54}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{191,215},{34,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-6}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,193},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,2}</string>
                <key>spriteSize</key>
                <string>{40,86}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{191,173},{40,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a228.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,4}</string>
                <key>spriteSize</key>
                <string>{22,74}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{147,117},{22,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,2}</string>
                <key>spriteSize</key>
                <string>{56,128}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{49,1},{56,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,2}</string>
                <key>spriteSize</key>
                <string>{56,128}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{49,59},{56,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,5}</string>
                <key>spriteSize</key>
                <string>{46,114}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{171,125},{46,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a243.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,40}</string>
                <key>spriteSize</key>
                <string>{46,228}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a251.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-5}</string>
                <key>spriteSize</key>
                <string>{46,102}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{179,77},{46,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-13}</string>
                <key>spriteSize</key>
                <string>{74,110}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{179,1},{74,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a264.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-4}</string>
                <key>spriteSize</key>
                <string>{96,126}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{49,125},{96,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Qiang-8.png</string>
            <key>size</key>
            <string>{290,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b421be9da39f514946492d4daedbfb7:7b22006440081a6ea373365bbd2981d4:f3926ca6c2b2c2a4357308edb5693dd6$</string>
            <key>textureFileName</key>
            <string>Qiang-8.png</string>
        </dict>
    </dict>
</plist>
