<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-8}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{237,455},{78,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-11}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{439,361},{68,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-9}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{361,429},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{106,76}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{421,115},{106,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{251,327},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{114,76}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{169,217},{114,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-7}</string>
                <key>spriteSize</key>
                <string>{96,54}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{181,403},{96,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,20}</string>
                <key>spriteSize</key>
                <string>{178,104}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,403},{178,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{136,108}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{395,223},{136,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{108,60}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{251,393},{108,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{112,72}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{429,1},{112,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{146,102}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{247,223},{146,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,3}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{363,361},{66,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{150,112}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{269,109},{150,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,16}</string>
                <key>spriteSize</key>
                <string>{158,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{269,1},{158,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,50}</string>
                <key>spriteSize</key>
                <string>{166,184}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,217},{166,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,46}</string>
                <key>spriteSize</key>
                <string>{266,214}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{169,333},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dao-2.png</string>
            <key>size</key>
            <string>{504,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:340292633544643a1a692453f7d1067b:53b6440094a14e3c333b7fe2c2a5c763:b6a997065b77fd6552acac1d124802d4$</string>
            <key>textureFileName</key>
            <string>Dao-2.png</string>
        </dict>
    </dict>
</plist>
