<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,49}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1293,97},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,44}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{735,173},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-118,44}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{463,187},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,66}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1179,1},{90,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,60}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1059,121},{110,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,56}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1281,1},{94,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-105,67}</string>
                <key>spriteSize</key>
                <string>{102,118}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{955,127},{102,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,75}</string>
                <key>spriteSize</key>
                <string>{170,152}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{615,1},{170,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,62}</string>
                <key>spriteSize</key>
                <string>{134,108}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{819,127},{134,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,55}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1081,1},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,58}</string>
                <key>spriteSize</key>
                <string>{100,118}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{979,1},{100,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,72}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1151,99},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-123,51}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1293,169},{66,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,66}</string>
                <key>spriteSize</key>
                <string>{208,124}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{769,1},{208,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,93}</string>
                <key>spriteSize</key>
                <string>{150,184}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{463,1},{150,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,105}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{287,1},{174,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,78}</string>
                <key>spriteSize</key>
                <string>{284,250}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-113,42}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{615,173},{118,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dao-6.png</string>
            <key>size</key>
            <string>{1372,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23fd4cb402ce209a9308b57c7f812d76:1a9d28d8377705cd18f92899122935f1:b53aa06fd58d02a6afe05483fcfcdf79$</string>
            <key>textureFileName</key>
            <string>Dao-6.png</string>
        </dict>
    </dict>
</plist>
