<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,71}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{447,161},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,71}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{287,161},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,80}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1003,155},{82,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,89}</string>
                <key>spriteSize</key>
                <string>{90,100}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{901,155},{90,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,76}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{789,153},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,79}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{697,155},{94,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,92}</string>
                <key>spriteSize</key>
                <string>{104,116}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1239,1},{104,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,117}</string>
                <key>spriteSize</key>
                <string>{152,170}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{917,1},{152,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,77}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1089,143},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,87}</string>
                <key>spriteSize</key>
                <string>{98,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1227,143},{98,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,91}</string>
                <key>spriteSize</key>
                <string>{100,118}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{523,131},{100,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,99}</string>
                <key>spriteSize</key>
                <string>{148,140}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1089,1},{148,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,74}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{371,161},{66,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,93}</string>
                <key>spriteSize</key>
                <string>{208,128}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{523,1},{208,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,114}</string>
                <key>spriteSize</key>
                <string>{150,182}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{733,1},{150,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,100}</string>
                <key>spriteSize</key>
                <string>{234,158}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{287,1},{234,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,117}</string>
                <key>spriteSize</key>
                <string>{284,248}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,66}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{625,131},{118,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dao-4.png</string>
            <key>size</key>
            <string>{1344,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ad2f521d2fbfda7bf3fc4b07b09b33:99bfd2c9f661e44181f8e47db917a661:94e38c5df41161260aff96e062928f5c$</string>
            <key>textureFileName</key>
            <string>Dao-4.png</string>
        </dict>
    </dict>
</plist>
