<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FASHU1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{68,194}}</string>
                <key>offset</key>
                <string>{-376,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{68,194}}</string>
                <key>sourceSize</key>
                <string>{900,194}</string>
            </dict>
            <key>FASHU1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{44,38}}</string>
                <key>offset</key>
                <string>{403,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{831,18},{44,38}}</string>
                <key>sourceSize</key>
                <string>{900,194}</string>
            </dict>
            <key>FASHU1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{782,150}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,29},{782,150}}</string>
                <key>sourceSize</key>
                <string>{900,194}</string>
            </dict>
            <key>FASHU2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,786},{86,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,110}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            
            <key>FASHU2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,180},{76,78}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{76,78}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,268},{86,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{88,90}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,180},{86,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,92},{86,90}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,90}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,92},{86,90}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,90}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,180},{86,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,180},{86,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,356},{86,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,268},{86,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,268},{86,88}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{88,90}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,898},{86,94}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,92},{86,90}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{86,90}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
            <key>FASHU2-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{88,92}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,92}}</string>
                <key>sourceSize</key>
                <string>{94,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FASHU.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27892473690acc5b3b675c56838e13b2$</string>
            <key>textureFileName</key>
            <string>FASHU.png</string>
        </dict>
    </dict>
</plist>
