<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BA1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,42}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{297,1},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BA2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,35}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{167,1},{128,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BA3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,17}</string>
                <key>spriteSize</key>
                <string>{164,80}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BA.png</string>
            <key>size</key>
            <string>{410,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b2f03a608a71f7afc466d7685a667ec:0c7818be1320b92b8f35ec0078e143f9:28473aaf823e5e3e30ffa66c10708328$</string>
            <key>textureFileName</key>
            <string>BA.png</string>
        </dict>
    </dict>
</plist>
