<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DUN1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,31}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{67,89},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DUN2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,22}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{127,85},{76,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DUN3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,15}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DUN4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,23}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DUN5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,24}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,89},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DUN.png</string>
            <key>size</key>
            <string>{204,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2db2dac92621f8a053df181b3a24028:896149687da646b86ab2a08c5af3c6dd:99a09300075587b57fea7ffb7e7fa841$</string>
            <key>textureFileName</key>
            <string>DUN.png</string>
        </dict>
    </dict>
</plist>
