<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TN1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-52}</string>
                <key>spriteSize</key>
                <string>{112,52}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TN2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-54}</string>
                <key>spriteSize</key>
                <string>{144,72}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,55},{144,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TN3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{162,152}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,129},{162,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TN4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{162,154}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,283},{162,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TN5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,40}</string>
                <key>spriteSize</key>
                <string>{162,268}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,439},{162,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TN6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,81}</string>
                <key>spriteSize</key>
                <string>{162,350}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,1305},{162,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TN7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,59}</string>
                <key>spriteSize</key>
                <string>{148,296}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,709},{148,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TN8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,53}</string>
                <key>spriteSize</key>
                <string>{154,296}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,1007},{154,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TN.png</string>
            <key>size</key>
            <string>{164,1656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec4bfee908a439041f2f88bd9af8d19:466553fca76ed7ec8427f1796c63d8cd:0f39876f6ec9a31b7db873ada7d7ee0b$</string>
            <key>textureFileName</key>
            <string>TN.png</string>
        </dict>
    </dict>
</plist>
