<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-86}</string>
                <key>spriteSize</key>
                <string>{92,48}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{89,77},{92,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-71}</string>
                <key>spriteSize</key>
                <string>{130,74}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-61}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,77},{124,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>turn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,-59}</string>
                <key>spriteSize</key>
                <string>{88,82}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{89,127},{88,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,-55}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{133,1},{58,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>turn.png</string>
            <key>size</key>
            <string>{192,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7be09ed294f27571bb387476fb2315b1:fa15d52377e200f4f18da4190c04930a:eca4ac5b408767d8a94cfc1e901edb87$</string>
            <key>textureFileName</key>
            <string>turn.png</string>
        </dict>
    </dict>
</plist>
