<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{168,166}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1787,1},{168,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{170,188}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1723,767},{170,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,31}</string>
                <key>spriteSize</key>
                <string>{256,250}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1287,529},{256,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireG4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,30}</string>
                <key>spriteSize</key>
                <string>{194,248}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1377,1},{194,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireG5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,29}</string>
                <key>spriteSize</key>
                <string>{246,246}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1539,519},{246,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireG6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,37}</string>
                <key>spriteSize</key>
                <string>{210,262}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1075,547},{210,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireG7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,76}</string>
                <key>spriteSize</key>
                <string>{168,330}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,343},{168,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireG8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,76}</string>
                <key>spriteSize</key>
                <string>{162,330}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{135,1},{162,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireG9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,71}</string>
                <key>spriteSize</key>
                <string>{132,340}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,45}</string>
                <key>spriteSize</key>
                <string>{162,264}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{659,857},{162,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mudG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,49}</string>
                <key>spriteSize</key>
                <string>{164,298}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{409,315},{164,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,55}</string>
                <key>spriteSize</key>
                <string>{194,284}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{575,295},{194,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudG4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,49}</string>
                <key>spriteSize</key>
                <string>{196,298}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{239,647},{196,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudG5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,52}</string>
                <key>spriteSize</key>
                <string>{220,292}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{437,615},{220,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudG6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,48}</string>
                <key>spriteSize</key>
                <string>{206,268}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{961,277},{206,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudG7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,52}</string>
                <key>spriteSize</key>
                <string>{252,292}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{537,1},{252,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudG8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,46}</string>
                <key>spriteSize</key>
                <string>{216,264}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1159,1},{216,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mudG9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{172,212}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{925,847},{172,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{172,144}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1787,543},{172,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{184,156}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1787,171},{184,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{184,156}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1787,357},{184,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterG4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,30}</string>
                <key>spriteSize</key>
                <string>{188,250}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1375,267},{188,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterG5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,42}</string>
                <key>spriteSize</key>
                <string>{230,274}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{659,581},{230,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterG6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,42}</string>
                <key>spriteSize</key>
                <string>{188,274}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{771,295},{188,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterG7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,42}</string>
                <key>spriteSize</key>
                <string>{182,274}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{891,571},{182,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterG8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,42}</string>
                <key>spriteSize</key>
                <string>{182,274}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{791,1},{182,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterG9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,15}</string>
                <key>spriteSize</key>
                <string>{176,230}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1545,767},{176,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{154,208}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1139,811},{154,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,22}</string>
                <key>spriteSize</key>
                <string>{200,240}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1573,1},{200,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,21}</string>
                <key>spriteSize</key>
                <string>{216,242}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1565,251},{216,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windG4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,24}</string>
                <key>spriteSize</key>
                <string>{232,248}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1295,787},{232,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>windG5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,50}</string>
                <key>spriteSize</key>
                <string>{236,312}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1,675},{236,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windG6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,50}</string>
                <key>spriteSize</key>
                <string>{236,312}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{171,333},{236,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windG7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,50}</string>
                <key>spriteSize</key>
                <string>{236,312}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{299,1},{236,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windG8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,30}</string>
                <key>spriteSize</key>
                <string>{204,260}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{1169,267},{204,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>windG9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,39}</string>
                <key>spriteSize</key>
                <string>{182,266}</string>
                <key>spriteSourceSize</key>
                <string>{800,900}</string>
                <key>textureRect</key>
                <string>{{975,1},{182,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuansuG.png</string>
            <key>size</key>
            <string>{1954,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:625d56fe3e7356cfb2e127e759108acc:4af480c1ec37f108f37a59775488c504:10b3105af38adbda7f6dd75ac8397adc$</string>
            <key>textureFileName</key>
            <string>yuansuG.png</string>
        </dict>
    </dict>
</plist>
