<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Q1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-61}</string>
                <key>spriteSize</key>
                <string>{210,92}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,925},{210,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-56}</string>
                <key>spriteSize</key>
                <string>{220,102}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1323,793},{220,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Q16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-56}</string>
                <key>spriteSize</key>
                <string>{226,102}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1437,651},{226,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-56}</string>
                <key>spriteSize</key>
                <string>{286,102}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{435,649},{286,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-62}</string>
                <key>spriteSize</key>
                <string>{336,90}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{909,751},{336,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-62}</string>
                <key>spriteSize</key>
                <string>{210,90}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1437,755},{210,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-62}</string>
                <key>spriteSize</key>
                <string>{208,90}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{213,925},{208,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-4}</string>
                <key>spriteSize</key>
                <string>{174,166}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1311,253},{174,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>boom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-4}</string>
                <key>spriteSize</key>
                <string>{174,166}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1311,253},{174,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>boom3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-4}</string>
                <key>spriteSize</key>
                <string>{174,166}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1311,253},{174,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-4}</string>
                <key>spriteSize</key>
                <string>{174,166}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1311,253},{174,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,1}</string>
                <key>spriteSize</key>
                <string>{174,182}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1305,421},{174,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{174,182}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1139,843},{174,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,2}</string>
                <key>spriteSize</key>
                <string>{172,182}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1427,847},{172,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{184,180}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{253,737},{184,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,4}</string>
                <key>spriteSize</key>
                <string>{188,186}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1247,605},{188,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,11}</string>
                <key>spriteSize</key>
                <string>{212,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1487,223},{212,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,16}</string>
                <key>spriteSize</key>
                <string>{206,212}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1481,437},{206,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,19}</string>
                <key>spriteSize</key>
                <string>{224,220}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1449,1},{224,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,10}</string>
                <key>spriteSize</key>
                <string>{220,202}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{435,753},{220,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,0}</string>
                <key>spriteSize</key>
                <string>{228,168}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{909,843},{228,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,58}</string>
                <key>spriteSize</key>
                <string>{300,276}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{435,371},{300,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,116}</string>
                <key>spriteSize</key>
                <string>{404,368}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{529,1},{404,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,107}</string>
                <key>spriteSize</key>
                <string>{526,358}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{526,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,53}</string>
                <key>spriteSize</key>
                <string>{562,250}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1,361},{562,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,44}</string>
                <key>spriteSize</key>
                <string>{512,250}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{935,1},{512,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,71}</string>
                <key>spriteSize</key>
                <string>{184,304}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{723,717},{184,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,91}</string>
                <key>spriteSize</key>
                <string>{190,344}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{737,371},{190,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,106}</string>
                <key>spriteSize</key>
                <string>{180,374}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{253,361},{180,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,106}</string>
                <key>spriteSize</key>
                <string>{164,374}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{935,253},{164,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,106}</string>
                <key>spriteSize</key>
                <string>{164,374}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{929,419},{164,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,77}</string>
                <key>spriteSize</key>
                <string>{164,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{929,585},{164,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-47}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1611,847},{164,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{60,24}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{523,957},{60,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{74,20}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1247,793},{74,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,4}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{657,753},{114,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-30}</string>
                <key>spriteSize</key>
                <string>{98,44}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{423,957},{98,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{104,50}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{657,869},{104,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DL.png</string>
            <key>size</key>
            <string>{1688,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21635ffcbf9e4799a8910059dbb88a04:e23944775ec4c8f0e39be4b217216f60:52cbe4399afab996f00534b3018b30d1$</string>
            <key>textureFileName</key>
            <string>DL.png</string>
        </dict>
    </dict>
</plist>
