<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FH1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,906},{94,68}}</string>
                <key>offset</key>
                <string>{-46,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,384},{94,68}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            
            <key>FH2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,906},{104,92}}</string>
                <key>offset</key>
                <string>{-49,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,364},{104,92}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{120,114}}</string>
                <key>offset</key>
                <string>{-52,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,342},{120,114}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{176,162}}</string>
                <key>offset</key>
                <string>{-55,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,309},{176,162}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH5.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,222},{218,286}}</string>
                <key>offset</key>
                <string>{-48,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,234},{218,286}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH6.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{218,300}}</string>
                <key>offset</key>
                <string>{-48,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,220},{218,300}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,762},{226,362}}</string>
                <key>offset</key>
                <string>{-48,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,176},{226,362}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{258,378}}</string>
                <key>offset</key>
                <string>{-48,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,176},{258,378}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,382},{238,378}}</string>
                <key>offset</key>
                <string>{-54,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,148},{238,378}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{238,430}}</string>
                <key>offset</key>
                <string>{-54,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,96},{238,430}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
            <key>FH11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,470}}</string>
                <key>offset</key>
                <string>{-61,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,56},{222,470}}</string>
                <key>sourceSize</key>
                <string>{592,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FH.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab07f861b1fec5b8e94488b7243c829e$</string>
            <key>textureFileName</key>
            <string>FH.png</string>
        </dict>
    </dict>
</plist>
