<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-483}</string>
                <key>spriteSize</key>
                <string>{222,160}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1819,1225},{222,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            
            <key>boom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-502}</string>
                <key>spriteSize</key>
                <string>{246,140}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1807,2001},{246,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-500}</string>
                <key>spriteSize</key>
                <string>{312,156}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1769,1687},{312,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-502}</string>
                <key>spriteSize</key>
                <string>{364,180}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1455,2373},{364,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-502}</string>
                <key>spriteSize</key>
                <string>{364,180}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1793,859},{364,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-514}</string>
                <key>spriteSize</key>
                <string>{414,196}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1743,443},{414,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-386}</string>
                <key>spriteSize</key>
                <string>{420,452}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1033,2029},{420,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-386}</string>
                <key>spriteSize</key>
                <string>{424,452}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{983,1575},{424,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-395}</string>
                <key>spriteSize</key>
                <string>{458,470}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{983,1103},{458,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-406}</string>
                <key>spriteSize</key>
                <string>{506,490}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{541,2031},{506,490}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-421}</string>
                <key>spriteSize</key>
                <string>{538,520}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,2033},{538,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,-452}</string>
                <key>spriteSize</key>
                <string>{790,582}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,597},{790,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,-458}</string>
                <key>spriteSize</key>
                <string>{802,594}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{802,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-457}</string>
                <key>spriteSize</key>
                <string>{608,594}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{805,507},{608,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inAir1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,55}</string>
                <key>spriteSize</key>
                <string>{374,352}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1443,1333},{374,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inAir2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,56}</string>
                <key>spriteSize</key>
                <string>{358,350}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1455,2013},{358,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inAir3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,40}</string>
                <key>spriteSize</key>
                <string>{358,324}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1409,1687},{358,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inAir4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,45}</string>
                <key>spriteSize</key>
                <string>{400,348}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1443,931},{400,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inAir5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,46}</string>
                <key>spriteSize</key>
                <string>{440,332}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1659,1},{440,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inAir6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,45}</string>
                <key>spriteSize</key>
                <string>{422,326}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1415,507},{422,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inAir7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,-44}</string>
                <key>spriteSize</key>
                <string>{852,504}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{805,1},{852,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inAir8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-140,-52}</string>
                <key>spriteSize</key>
                <string>{850,488}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1,1181},{850,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inAir9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,-52}</string>
                <key>spriteSize</key>
                <string>{848,490}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{491,1181},{848,490}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-499}</string>
                <key>spriteSize</key>
                <string>{26,92}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1415,931},{26,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-493}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1819,1545},{86,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-505}</string>
                <key>spriteSize</key>
                <string>{62,96}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1821,2367},{62,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-499}</string>
                <key>spriteSize</key>
                <string>{94,116}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1807,2249},{94,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-492}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1819,1449},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-489}</string>
                <key>spriteSize</key>
                <string>{48,92}</string>
                <key>spriteSourceSize</key>
                <string>{2000,1600}</string>
                <key>textureRect</key>
                <string>{{1033,2483},{48,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fireball.png</string>
            <key>size</key>
            <string>{1992,2554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11883281061d16aa9b4371eb1361b718:17867d29209446efea85fdd3be534e68:51ac064c0250511d10ab69bc5cfba47a$</string>
            <key>textureFileName</key>
            <string>fireball.png</string>
        </dict>
    </dict>
</plist>
