<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{0,400},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{500,400},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1000,400},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1500,400},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{0,800},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{500,800},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1000,800},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1500,800},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{0,1200},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{500,1200},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1000,1200},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1500,1200},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{0,1600},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{500,1600},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,400}</string>
                <key>textureRect</key>
                <string>{{1000,1600},{500,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Rock.png</string>
            <key>size</key>
            <string>{2000,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d0e94bf4bf73d19bbf705aa2f8dd750:94f85b8568a7c25924bb895bb6b447b8:6c5c271cdb03cd3a6bfafb482a622856$</string>
            <key>textureFileName</key>
            <string>Rock.png</string>
        </dict>
    </dict>
</plist>
