<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-570,-350}</string>
                <key>spriteSize</key>
                <string>{280,170}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1222,694},{280,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{195,-184}</string>
                <key>spriteSize</key>
                <string>{234,170}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{574,864},{234,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{441,-186}</string>
                <key>spriteSize</key>
                <string>{298,174}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{0,1038},{298,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{686,-181}</string>
                <key>spriteSize</key>
                <string>{288,168}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{700,694},{288,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-462,-31}</string>
                <key>spriteSize</key>
                <string>{240,152}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{0,536},{240,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-248,-29}</string>
                <key>spriteSize</key>
                <string>{268,156}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{240,536},{268,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-28}</string>
                <key>spriteSize</key>
                <string>{212,150}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1076,386},{212,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-28}</string>
                <key>spriteSize</key>
                <string>{218,158}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{508,536},{218,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{406,-26}</string>
                <key>spriteSize</key>
                <string>{264,158}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{726,536},{264,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{630,-19}</string>
                <key>spriteSize</key>
                <string>{264,164}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{436,694},{264,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-413,117}</string>
                <key>spriteSize</key>
                <string>{230,160}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{0,694},{230,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-303,-344}</string>
                <key>spriteSize</key>
                <string>{322,174}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1014,864},{322,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-216,118}</string>
                <key>spriteSize</key>
                <string>{232,158}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{990,536},{232,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,119}</string>
                <key>spriteSize</key>
                <string>{206,160}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{230,694},{206,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{176,121}</string>
                <key>spriteSize</key>
                <string>{192,148}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{884,386},{192,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{372,124}</string>
                <key>spriteSize</key>
                <string>{248,158}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1222,536},{248,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{576,125}</string>
                <key>spriteSize</key>
                <string>{240,144}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{204,386},{240,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-368,261}</string>
                <key>spriteSize</key>
                <string>{208,136}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1468,110},{208,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-190,259}</string>
                <key>spriteSize</key>
                <string>{212,144}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{444,386},{212,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,258}</string>
                <key>spriteSize</key>
                <string>{180,134}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1104,110},{180,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{168,258}</string>
                <key>spriteSize</key>
                <string>{184,134}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1284,110},{184,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{344,259}</string>
                <key>spriteSize</key>
                <string>{204,136}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1676,110},{204,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-350}</string>
                <key>spriteSize</key>
                <string>{258,174}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1336,864},{258,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{528,262}</string>
                <key>spriteSize</key>
                <string>{224,138}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{924,246},{224,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-329,375}</string>
                <key>spriteSize</key>
                <string>{194,112}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{200,110},{194,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-166,378}</string>
                <key>spriteSize</key>
                <string>{188,110}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1604,0},{188,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,375}</string>
                <key>spriteSize</key>
                <string>{170,112}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{394,110},{170,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,377}</string>
                <key>spriteSize</key>
                <string>{160,112}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{564,110},{160,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{323,377}</string>
                <key>spriteSize</key>
                <string>{198,112}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{724,110},{198,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{488,382}</string>
                <key>spriteSize</key>
                <string>{200,110}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{0,110},{200,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{211,-348}</string>
                <key>spriteSize</key>
                <string>{274,174}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1594,864},{274,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{470,-346}</string>
                <key>spriteSize</key>
                <string>{312,170}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1502,694},{312,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{729,-342}</string>
                <key>spriteSize</key>
                <string>{286,170}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{0,864},{286,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-517,-265}</string>
                <key>spriteSize</key>
                <string>{266,328}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1212,1038},{266,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-280,-184}</string>
                <key>spriteSize</key>
                <string>{288,170}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{286,864},{288,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-185}</string>
                <key>spriteSize</key>
                <string>{236,176}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{298,1038},{236,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-804,-525}</string>
                <key>spriteSize</key>
                <string>{256,200}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{956,1038},{256,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{887,-181}</string>
                <key>spriteSize</key>
                <string>{234,168}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{988,694},{234,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{829,-19}</string>
                <key>spriteSize</key>
                <string>{234,158}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1470,536},{234,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{766,129}</string>
                <key>spriteSize</key>
                <string>{228,144}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{656,386},{228,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{702,267}</string>
                <key>spriteSize</key>
                <string>{224,138}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1148,246},{224,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{645,384}</string>
                <key>spriteSize</key>
                <string>{198,106}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1406,0},{198,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{593,479}</string>
                <key>spriteSize</key>
                <string>{210,94}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{666,0},{210,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{451,480}</string>
                <key>spriteSize</key>
                <string>{180,90}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{486,0},{180,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{305,476}</string>
                <key>spriteSize</key>
                <string>{174,98}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1050,0},{174,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,482}</string>
                <key>spriteSize</key>
                <string>{154,86}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,482}</string>
                <key>spriteSize</key>
                <string>{156,86}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{154,0},{156,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-618,-555}</string>
                <key>spriteSize</key>
                <string>{280,140}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1372,246},{280,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,481}</string>
                <key>spriteSize</key>
                <string>{176,88}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{310,0},{176,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-295,476}</string>
                <key>spriteSize</key>
                <string>{174,96}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{876,0},{174,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-436,474}</string>
                <key>spriteSize</key>
                <string>{182,98}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1224,0},{182,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-488,376}</string>
                <key>spriteSize</key>
                <string>{182,114}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{922,110},{182,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-534,268}</string>
                <key>spriteSize</key>
                <string>{204,142}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{0,386},{204,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-602,122}</string>
                <key>spriteSize</key>
                <string>{208,158}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1704,536},{208,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-682,-27}</string>
                <key>spriteSize</key>
                <string>{226,150}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1628,386},{226,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-745,-188}</string>
                <key>spriteSize</key>
                <string>{266,180}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{534,1038},{266,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-769,-241}</string>
                <key>spriteSize</key>
                <string>{314,510}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1478,1038},{314,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-349,-557}</string>
                <key>spriteSize</key>
                <string>{320,136}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{0,246},{320,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-557}</string>
                <key>spriteSize</key>
                <string>{296,136}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{320,246},{296,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{224,-557}</string>
                <key>spriteSize</key>
                <string>{308,136}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{616,246},{308,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{518,-555}</string>
                <key>spriteSize</key>
                <string>{330,140}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1652,246},{330,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{808,-550}</string>
                <key>spriteSize</key>
                <string>{340,150}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{1288,386},{340,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{972,-526}</string>
                <key>spriteSize</key>
                <string>{156,198}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{800,1038},{156,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{947,-347}</string>
                <key>spriteSize</key>
                <string>{206,172}</string>
                <key>spriteSourceSize</key>
                <string>{2100,1250}</string>
                <key>textureRect</key>
                <string>{{808,864},{206,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shadow.png</string>
            <key>size</key>
            <string>{1982,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:815a6980ed7e3741c232e20e1139ad29:10076036cfdb12324eb591e17f338793:437a03572fd3620f6f8ed4d3fbed8976$</string>
            <key>textureFileName</key>
            <string>shadow.png</string>
        </dict>
    </dict>
</plist>
