<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>APP1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>APP1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2000,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2500,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3000,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3500,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{0,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{500,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1000,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
           
            <key>APP2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1500,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2000,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2500,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3000,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3500,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP2-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{0,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP2-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{500,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>APP2-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1000,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
             <key>APP2-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1500,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2000,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
          
            <key>leave2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2500,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3000,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3500,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{0,1536},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{500,1536},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1000,1536},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1500,1536},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2000,1536},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
              <key>leave10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2500,1536},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tree1.png</string>
            <key>size</key>
            <string>{4000,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f314135761fa43637c8199b62904dfbb:08ad2ad4f8a462e9bb3108905ae1d515:e8626791606003544daa11cf54bcf604$</string>
            <key>textureFileName</key>
            <string>tree1.png</string>
        </dict>
    </dict>
</plist>
