<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2000,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2500,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3000,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3500,0},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{0,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{500,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1000,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1500,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2000,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2500,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3000,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{3500,512},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{0,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{500,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1000,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{1500,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2000,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,512}</string>
                <key>spriteSourceSize</key>
                <string>{500,512}</string>
                <key>textureRect</key>
                <string>{{2500,1024},{500,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tree2.png</string>
            <key>size</key>
            <string>{4000,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cefb43fd1b0a47f35b96f2218764c7cb:271516eacfec3712356dedf0ec71cedd:366c377c66e61c11edd1050ccd9c2904$</string>
            <key>textureFileName</key>
            <string>tree2.png</string>
        </dict>
    </dict>
</plist>
