<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,600},{120,112}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,67},{120,112}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>10-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,528},{154,126}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,62},{154,126}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>10-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{46,56}}</string>
                <key>offset</key>
                <string>{-64,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,121},{46,56}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{22,44}}</string>
                <key>offset</key>
                <string>{13,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,97},{22,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,942},{34,38}}</string>
                <key>offset</key>
                <string>{12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,100},{34,38}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>8-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,942},{32,46}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,96},{32,46}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,460},{160,152}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{160,152}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            
            <key>9-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,478},{146,96}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,82},{146,96}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,340},{182,118}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,56},{182,118}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,198},{194,140}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,43},{194,140}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,172},{194,152}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,41},{194,152}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{196,152}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{196,152}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{196,168}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,39},{196,168}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,306},{192,176}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{192,176}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,326},{192,150}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,41},{192,150}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,156},{196,148}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,45},{196,148}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,400},{170,126}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,57},{170,126}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,478},{152,120}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,69},{152,120}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,236},{190,162}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{190,162}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{194,200}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,40},{194,200}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{200,232}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{200,232}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,236}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{190,236}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{200,232}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{200,232}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{200,232}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{200,232}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>9-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{200,232}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{200,232}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YSq.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:529961d80dfd2a6b28f40c2c18ab702e$</string>
            <key>textureFileName</key>
            <string>YSq.png</string>
        </dict>
    </dict>
</plist>
