<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>可怜1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{208,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,229},{208,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>可怜2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{204,222}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1101,1},{204,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>可怜3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{206,228}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{641,1},{206,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>可怜4(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{208,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{221,1},{208,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>可怜4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{208,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{221,1},{208,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吃惊1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{208,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{211,229},{208,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吃惊2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{204,222}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1325,1},{204,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>吃惊3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{206,228}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{871,1},{206,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>吃惊4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{208,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{431,1},{208,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>点赞1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,8}</string>
                <key>spriteSize</key>
                <string>{194,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1051,209},{194,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>点赞2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,8}</string>
                <key>spriteSize</key>
                <string>{192,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1455,207},{192,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>点赞3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,8}</string>
                <key>spriteSize</key>
                <string>{206,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1247,207},{206,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>点赞4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{208,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{421,229},{208,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>裂开1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,8}</string>
                <key>spriteSize</key>
                <string>{208,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{631,229},{208,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>裂开2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,11}</string>
                <key>spriteSize</key>
                <string>{208,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{841,209},{208,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>裂开3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{218,226}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>影子.png</string>
            <key>size</key>
            <string>{1648,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d442da790c9a9fce4e611a08edab4df:201b15caed99ec067aaee41615d146db:dc27ff24c0877dc620c461ab67a9c77b$</string>
            <key>textureFileName</key>
            <string>影子.png</string>
        </dict>
    </dict>
</plist>
