<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{45,0},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{123,0},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{87,91}</string>
                <key>textureRect</key>
                <string>{{734,0},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{210,0},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{87,91}</string>
                <key>textureRect</key>
                <string>{{821,0},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,90}</string>
                <key>textureRect</key>
                <string>{{297,0},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{385,0},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,90}</string>
                <key>textureRect</key>
                <string>{{472,0},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{560,0},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{647,0},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,92}</string>
                <key>spriteSourceSize</key>
                <string>{87,92}</string>
                <key>textureRect</key>
                <string>{{0,91},{87,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>叉.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>条.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{689,145}</string>
                <key>spriteSourceSize</key>
                <string>{689,145}</string>
                <key>textureRect</key>
                <string>{{175,91},{689,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>柱.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,194}</string>
                <key>spriteSourceSize</key>
                <string>{70,194}</string>
                <key>textureRect</key>
                <string>{{864,91},{70,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,111}</string>
                <key>spriteSourceSize</key>
                <string>{88,111}</string>
                <key>textureRect</key>
                <string>{{87,91},{88,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fashu.png</string>
            <key>size</key>
            <string>{934,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bde24d7a56c40bb0bd05dfe4863dd009:672b0d704b19ce2cd238604e581352ec:2a03e4d992b7743f1a030f980cfcdf31$</string>
            <key>textureFileName</key>
            <string>fashu.png</string>
        </dict>
    </dict>
</plist>
