<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>waterD-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{946,-663}</string>
                <key>spriteSize</key>
                <string>{224,274}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterD-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{943,-663}</string>
                <key>spriteSize</key>
                <string>{228,274}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1600}</string>
                <key>textureRect</key>
                <string>{{277,1},{228,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterD-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{939,-663}</string>
                <key>spriteSize</key>
                <string>{240,274}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1600}</string>
                <key>textureRect</key>
                <string>{{553,1},{240,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterD-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{957,-663}</string>
                <key>spriteSize</key>
                <string>{268,274}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1600}</string>
                <key>textureRect</key>
                <string>{{1,471},{268,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterD-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{940,-663}</string>
                <key>spriteSize</key>
                <string>{242,274}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1600}</string>
                <key>textureRect</key>
                <string>{{1,227},{242,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterD-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{942,-663}</string>
                <key>spriteSize</key>
                <string>{246,274}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1600}</string>
                <key>textureRect</key>
                <string>{{277,231},{246,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterD-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{942,-663}</string>
                <key>spriteSize</key>
                <string>{246,274}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1600}</string>
                <key>textureRect</key>
                <string>{{553,243},{246,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterD-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{890,-663}</string>
                <key>spriteSize</key>
                <string>{352,274}</string>
                <key>spriteSourceSize</key>
                <string>{2400,1600}</string>
                <key>textureRect</key>
                <string>{{277,491},{352,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>waterD-1.0.png</string>
            <key>size</key>
            <string>{828,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309945bb5a2d3f388e483f7591cf38c0:5b92b201103fcc187bf7b66525465fac:909941cd043f9ae4ee226b9382f47f90$</string>
            <key>textureFileName</key>
            <string>waterD-1.0.png</string>
        </dict>
    </dict>
</plist>
