<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-139}</string>
                <key>spriteSize</key>
                <string>{164,94}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{205,2731},{164,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>ghost2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-128}</string>
                <key>spriteSize</key>
                <string>{166,110}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{363,933},{166,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ghost3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-105}</string>
                <key>spriteSize</key>
                <string>{212,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{209,2159},{212,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-105}</string>
                <key>spriteSize</key>
                <string>{212,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{209,2159},{212,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-90}</string>
                <key>spriteSize</key>
                <string>{296,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{209,1861},{296,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ghost6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-64}</string>
                <key>spriteSize</key>
                <string>{340,280}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{205,2389},{340,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ghost7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-7}</string>
                <key>spriteSize</key>
                <string>{296,358}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{203,1501},{296,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,9}</string>
                <key>spriteSize</key>
                <string>{366,402}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,2829},{366,402}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ghost9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,25}</string>
                <key>spriteSize</key>
                <string>{360,476}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1023},{360,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,66}</string>
                <key>spriteSize</key>
                <string>{256,508}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,513},{256,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,87}</string>
                <key>spriteSize</key>
                <string>{234,510}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,53}</string>
                <key>spriteSize</key>
                <string>{242,446}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{259,485},{242,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,57}</string>
                <key>spriteSize</key>
                <string>{260,482}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{237,1},{260,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,89}</string>
                <key>spriteSize</key>
                <string>{200,446}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1501},{200,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,93}</string>
                <key>spriteSize</key>
                <string>{206,438}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1949},{206,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,93}</string>
                <key>spriteSize</key>
                <string>{202,438}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,2389},{202,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ghost.png</string>
            <key>size</key>
            <string>{502,3196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d734d543afa5a5f540b72a9c91c2009:c0a7984351d7d54bb6b85430a91d9a14:8538abdcbd4db339f06a581573008863$</string>
            <key>textureFileName</key>
            <string>ghost.png</string>
        </dict>
    </dict>
</plist>
