<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{35,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{70,0},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{97,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{132,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{167,0},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bheart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{0,38},{22,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Qi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,8}</string>
                <key>spriteSourceSize</key>
                <string>{99,8}</string>
                <key>textureRect</key>
                <string>{{0,76},{99,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Qi10+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,8}</string>
                <key>spriteSourceSize</key>
                <string>{99,8}</string>
                <key>textureRect</key>
                <string>{{0,100},{99,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Qi15+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,8}</string>
                <key>spriteSourceSize</key>
                <string>{99,8}</string>
                <key>textureRect</key>
                <string>{{99,100},{99,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Qi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,8}</string>
                <key>spriteSourceSize</key>
                <string>{99,8}</string>
                <key>textureRect</key>
                <string>{{99,76},{99,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Qi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,8}</string>
                <key>spriteSourceSize</key>
                <string>{99,8}</string>
                <key>textureRect</key>
                <string>{{0,84},{99,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Qi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,8}</string>
                <key>spriteSourceSize</key>
                <string>{99,8}</string>
                <key>textureRect</key>
                <string>{{99,84},{99,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Qi5+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,8}</string>
                <key>spriteSourceSize</key>
                <string>{99,8}</string>
                <key>textureRect</key>
                <string>{{0,92},{99,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Qi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,8}</string>
                <key>spriteSourceSize</key>
                <string>{99,8}</string>
                <key>textureRect</key>
                <string>{{99,92},{99,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,38}</string>
                <key>spriteSourceSize</key>
                <string>{151,38}</string>
                <key>textureRect</key>
                <string>{{22,38},{151,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{173,38},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,38}</string>
                <key>spriteSourceSize</key>
                <string>{151,38}</string>
                <key>textureRect</key>
                <string>{{0,108},{151,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>data.png</string>
            <key>size</key>
            <string>{205,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8acb8f0ec54f0917c1b0b6237a709bd:7f1848f4bb3f230e28407f00fd529d0f:c082291575fff0c0bc337159618b425a$</string>
            <key>textureFileName</key>
            <string>data.png</string>
        </dict>
    </dict>
</plist>
