<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-125}</string>
                <key>spriteSize</key>
                <string>{958,366}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{961,375},{958,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>lun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-122}</string>
                <key>spriteSize</key>
                <string>{958,372}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{961,1},{958,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-122}</string>
                <key>spriteSize</key>
                <string>{958,372}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,375},{958,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-126}</string>
                <key>spriteSize</key>
                <string>{958,364}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{961,1479},{958,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-125}</string>
                <key>spriteSize</key>
                <string>{958,366}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,749},{958,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-126}</string>
                <key>spriteSize</key>
                <string>{958,364}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1483},{958,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-126}</string>
                <key>spriteSize</key>
                <string>{958,364}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{961,1845},{958,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-126}</string>
                <key>spriteSize</key>
                <string>{958,364}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1849},{958,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-125}</string>
                <key>spriteSize</key>
                <string>{958,366}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{961,1111},{958,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-125}</string>
                <key>spriteSize</key>
                <string>{958,366}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{961,743},{958,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-122}</string>
                <key>spriteSize</key>
                <string>{958,372}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{958,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lun12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-126}</string>
                <key>spriteSize</key>
                <string>{958,364}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1117},{958,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lun.png</string>
            <key>size</key>
            <string>{1920,2214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bed99b8f84f0d30d9a8cacaaf30afd00:1db39dd52846716b20ce9052d95f75f7:08fb422a59563d3e7e5693f7bc910f3c$</string>
            <key>textureFileName</key>
            <string>lun.png</string>
        </dict>
    </dict>
</plist>
