<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cure1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-93}</string>
                <key>spriteSize</key>
                <string>{147,66}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{295,343},{147,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-93}</string>
                <key>spriteSize</key>
                <string>{147,66}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{295,411},{147,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-91}</string>
                <key>spriteSize</key>
                <string>{149,70}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{303,271},{149,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-78}</string>
                <key>spriteSize</key>
                <string>{149,96}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{303,173},{149,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-41}</string>
                <key>spriteSize</key>
                <string>{155,170}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{303,1},{155,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{149,292}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1,319},{149,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cure7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{149,316}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{149,316}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{152,1},{149,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cure.png</string>
            <key>size</key>
            <string>{459,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fc21d1cd0ba55480335bb886e714b19:cb62987888a628cc19a6c2b56937c7af:f7c5abfc1cf0a854ef527807033c9363$</string>
            <key>textureFileName</key>
            <string>cure.png</string>
        </dict>
    </dict>
</plist>
