<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KB1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,3210},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            
            <key>KB2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2708,804},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,804},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,804},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2708,2},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB8.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB10.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,3210},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3210},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2708,2408},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2408},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB14.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2408},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2408},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2708,1606},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1606},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB18.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1606},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
            <key>KB19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{800,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,900}}</string>
                <key>sourceSize</key>
                <string>{800,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KB.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1eb9a4e7bd6bbd77c7644b101b7e213$</string>
            <key>textureFileName</key>
            <string>KB.png</string>
        </dict>
    </dict>
</plist>
