<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,3608},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
           
            <key>TP2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>TP3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>TP4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>TP5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>TP6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>TP7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>TP8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>TP9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
             <key>TP10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3608},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>TP11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TP.png</string>
            <key>size</key>
            <string>{4096,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f3bf782d3c86f62c61e800912ad02d5$</string>
            <key>textureFileName</key>
            <string>TP.png</string>
        </dict>
    </dict>
</plist>
