<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,3608},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
           
            <key>Tui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
             <key>Tui10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,3608},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3608},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>Tui12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tui.png</string>
            <key>size</key>
            <string>{4096,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e66bdf8c66570a2079d87a010bc927$</string>
            <key>textureFileName</key>
            <string>Tui.png</string>
        </dict>
    </dict>
</plist>
