<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuqi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-93}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{574,333},{189,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
            <key>xuqi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-94}</string>
                <key>spriteSize</key>
                <string>{189,88}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{765,331},{189,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-86}</string>
                <key>spriteSize</key>
                <string>{189,104}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{383,333},{189,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-73}</string>
                <key>spriteSize</key>
                <string>{189,130}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{192,333},{189,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-66}</string>
                <key>spriteSize</key>
                <string>{189,148}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1,333},{189,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-45}</string>
                <key>spriteSize</key>
                <string>{189,186}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1044,323},{189,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-39}</string>
                <key>spriteSize</key>
                <string>{189,198}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1235,311},{189,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,14}</string>
                <key>spriteSize</key>
                <string>{189,308}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1235,1},{189,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,25}</string>
                <key>spriteSize</key>
                <string>{189,330}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{471,1},{189,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,25}</string>
                <key>spriteSize</key>
                <string>{219,330}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{250,1},{219,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,25}</string>
                <key>spriteSize</key>
                <string>{247,330}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{247,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,26}</string>
                <key>spriteSize</key>
                <string>{189,328}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{662,1},{189,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,26}</string>
                <key>spriteSize</key>
                <string>{189,328}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{853,1},{189,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,22}</string>
                <key>spriteSize</key>
                <string>{189,320}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1044,1},{189,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{189,208}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1426,1},{189,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuqi16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-34}</string>
                <key>spriteSize</key>
                <string>{189,208}</string>
                <key>spriteSourceSize</key>
                <string>{449,380}</string>
                <key>textureRect</key>
                <string>{{1426,211},{189,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xuqi.png</string>
            <key>size</key>
            <string>{1616,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11a0718da08575590e01a9c5c76b697a:fdb8f6c90d6290871c57cb1804ffade9:c6543192d7bba831ec0bf90fbe508521$</string>
            <key>textureFileName</key>
            <string>xuqi.png</string>
        </dict>
    </dict>
</plist>
