<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-10}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{151,381},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-23}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{151,231},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-18}</string>
                <key>spriteSize</key>
                <string>{120,106}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{129,467},{120,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-32}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{151,133},{96,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,63}</string>
                <key>spriteSize</key>
                <string>{148,192}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-20}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{151,303},{66,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-4}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,467},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-2}</string>
                <key>spriteSize</key>
                <string>{94,130}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{151,1},{94,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a352.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-34}</string>
                <key>spriteSize</key>
                <string>{148,142}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,195},{148,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a362.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-12}</string>
                <key>spriteSize</key>
                <string>{148,126}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,339},{148,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dun-8.png</string>
            <key>size</key>
            <string>{246,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ba78ac9b1a88808f240ae32e3fae212:2b72e29560dc470f40c06abfe8c665f2:d59740bf14346f2df4041134f57e147b$</string>
            <key>textureFileName</key>
            <string>Dun-8.png</string>
        </dict>
    </dict>
</plist>
