<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-140,25}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{87,417},{38,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141,23}</string>
                <key>spriteSize</key>
                <string>{54,78}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,697},{54,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-127,31}</string>
                <key>spriteSize</key>
                <string>{30,118}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{95,131},{30,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,21}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,635},{60,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a342.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,28}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,131},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a343.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-139,21}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{81,697},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a345.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,5}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,295},{120,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,16}</string>
                <key>spriteSize</key>
                <string>{72,108}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,561},{72,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>a352.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,31}</string>
                <key>spriteSize</key>
                <string>{84,142}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,417},{84,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a362.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,1}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dun-6.png</string>
            <key>size</key>
            <string>{128,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8447e52f0524eea3ec4b7910e1518f49:c7baf3a20a8b629616f12a8a57179968:6754ca23c295787a1625b7221764b5c4$</string>
            <key>textureFileName</key>
            <string>Dun-6.png</string>
        </dict>
    </dict>
</plist>
