<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{275,0},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{420,0},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{450,0},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,139}</string>
                <key>spriteSourceSize</key>
                <string>{31,139}</string>
                <key>textureRect</key>
                <string>{{243,96},{31,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,139}</string>
                <key>spriteSourceSize</key>
                <string>{31,139}</string>
                <key>textureRect</key>
                <string>{{274,96},{31,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,139}</string>
                <key>spriteSourceSize</key>
                <string>{31,139}</string>
                <key>textureRect</key>
                <string>{{305,96},{31,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,51}</string>
                <key>spriteSourceSize</key>
                <string>{77,51}</string>
                <key>textureRect</key>
                <string>{{121,0},{77,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A231.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,60}</string>
                <key>spriteSourceSize</key>
                <string>{119,60}</string>
                <key>textureRect</key>
                <string>{{301,0},{119,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A232.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,126}</string>
                <key>spriteSourceSize</key>
                <string>{243,126}</string>
                <key>textureRect</key>
                <string>{{0,96},{243,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A251.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,227}</string>
                <key>spriteSourceSize</key>
                <string>{511,227}</string>
                <key>textureRect</key>
                <string>{{0,563},{511,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A252.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,50}</string>
                <key>spriteSourceSize</key>
                <string>{121,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{121,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,51}</string>
                <key>spriteSourceSize</key>
                <string>{77,51}</string>
                <key>textureRect</key>
                <string>{{198,0},{77,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,142}</string>
                <key>spriteSourceSize</key>
                <string>{176,142}</string>
                <key>textureRect</key>
                <string>{{0,235},{176,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,164}</string>
                <key>spriteSourceSize</key>
                <string>{195,164}</string>
                <key>textureRect</key>
                <string>{{176,235},{195,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A351.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,164}</string>
                <key>spriteSourceSize</key>
                <string>{195,164}</string>
                <key>textureRect</key>
                <string>{{0,399},{195,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A352.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,164}</string>
                <key>spriteSourceSize</key>
                <string>{195,164}</string>
                <key>textureRect</key>
                <string>{{195,399},{195,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Weapon Encyclopedia.png</string>
            <key>size</key>
            <string>{511,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cb8d64e55a72a7cd0eb35ccdfed1478:b225866e424c7830ea6e6858a244ea26:3279a20c925db44b2af31b5bf4d46e5d$</string>
            <key>textureFileName</key>
            <string>Weapon Encyclopedia.png</string>
        </dict>
    </dict>
</plist>
