<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BZ1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,6012},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            
            <key>BZ2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,6012},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,4810},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,4810},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6012},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4810},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,3608},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,3608},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3608},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
            <key>BZ18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2406},{1200,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,1200}}</string>
                <key>sourceSize</key>
                <string>{1200,1200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BZ.png</string>
            <key>size</key>
            <string>{4096,8192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6801e4d92b75c58811943881651208f4$</string>
            <key>textureFileName</key>
            <string>BZ.png</string>
        </dict>
    </dict>
</plist>
