<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A2T2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,34}</string>
                <key>spriteSize</key>
                <string>{70,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{341,141},{70,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A2T2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,28}</string>
                <key>spriteSize</key>
                <string>{66,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{439,1},{66,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A2T2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,31}</string>
                <key>spriteSize</key>
                <string>{114,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{239,1},{114,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A2T2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,35}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{239,141},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A2T2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,29}</string>
                <key>spriteSize</key>
                <string>{120,76}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{413,129},{120,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>A2T2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,31}</string>
                <key>spriteSize</key>
                <string>{82,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{355,1},{82,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A2T2-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,58}</string>
                <key>spriteSize</key>
                <string>{252,122}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>A2T2-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,64}</string>
                <key>spriteSize</key>
                <string>{252,112}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{125,1},{252,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>A2T2.png</string>
            <key>size</key>
            <string>{506,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb0e7422c7032e659b9611a7a720c90:52ccf746a5bcabd18afa0ec76c6ce977:1b597a08bcae1757b0f5e78539cc7ebf$</string>
            <key>textureFileName</key>
            <string>A2T2.png</string>
        </dict>
    </dict>
</plist>
