<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-45}</string>
                <key>spriteSize</key>
                <string>{1032,866}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{1,157},{1032,866}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blueqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-411,-43}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,-146}</string>
                <key>spriteSize</key>
                <string>{110,106}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{111,1},{110,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,-43}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{223,1},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yachi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-280,-138}</string>
                <key>spriteSize</key>
                <string>{154,166}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{353,1},{154,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2L.png</string>
            <key>size</key>
            <string>{868,1190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33c9e25259c61417c1dcebe553de3174:eab75ab195e63bef53007da3d151ea78:cd476ff2478bdb4aa3d115617240c62d$</string>
            <key>textureFileName</key>
            <string>2L.png</string>
        </dict>
    </dict>
</plist>
