<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-47}</string>
                <key>spriteSize</key>
                <string>{556,464}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,443},{556,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,130}</string>
                <key>spriteSize</key>
                <string>{506,248}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{506,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flattened.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-150}</string>
                <key>spriteSize</key>
                <string>{476,190}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,251},{476,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NW-big.png</string>
            <key>size</key>
            <string>{508,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e5cd6fd472b174dde1dc250d409005:981a2956f45cf15e59df8757b6f27bf0:99ef746c13ec0db635fe9b3c88e03d08$</string>
            <key>textureFileName</key>
            <string>NW-big.png</string>
        </dict>
    </dict>
</plist>
