<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-129}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{131,551},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,1}</string>
                <key>spriteSize</key>
                <string>{172,548}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,548}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{228,138}</string>
                <key>spriteSize</key>
                <string>{128,98}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,551},{128,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200,-126}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{131,583},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NW-BZ.png</string>
            <key>size</key>
            <string>{174,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fffc84564d7f29911758ebfcea58972b:5f2b70c50e6cf5e34b259ab07ae536a4:9d9c778f09b5a1b5ff33b56421ee0361$</string>
            <key>textureFileName</key>
            <string>NW-BZ.png</string>
        </dict>
    </dict>
</plist>
