<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{124,172}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,69},{124,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SPider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,62}</string>
                <key>spriteSize</key>
                <string>{32,66}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{127,193},{32,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>VC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-74}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{127,69},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-77}</string>
                <key>spriteSize</key>
                <string>{190,66}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tu8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,-47}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{127,127},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhongbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,6}</string>
                <key>spriteSize</key>
                <string>{14,58}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{127,227},{14,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NW-zawu.png</string>
            <key>size</key>
            <string>{196,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92be98e62af4d345e91306e786124032:e24d3fae1e4c1452b8902eb99b8126c9:d78d9c2ffb68103f57254c9f1df427ba$</string>
            <key>textureFileName</key>
            <string>NW-zawu.png</string>
        </dict>
    </dict>
</plist>
