<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-274,-146}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{464,180}</string>
                <key>spriteSize</key>
                <string>{94,120}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{153,129},{94,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{467,-48}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{145,57},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goumai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-388,-454}</string>
                <key>spriteSize</key>
                <string>{132,54}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{145,1},{132,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leveup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{313,2}</string>
                <key>spriteSize</key>
                <string>{150,92}</string>
                <key>spriteSourceSize</key>
                <string>{1200,1000}</string>
                <key>textureRect</key>
                <string>{{1,145},{150,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SButton.png</string>
            <key>size</key>
            <string>{278,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b570be68a6d19f5afbdfb52397e15465:84cb55c0bad145cd956b6dac39b2b1bc:2d986e31de22aa51e0e4ef70a80b7948$</string>
            <key>textureFileName</key>
            <string>SButton.png</string>
        </dict>
    </dict>
</plist>
