<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopN2.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,29}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{225,1},{40,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopN2.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,34}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{261,1},{32,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopN3.1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-137}</string>
                <key>spriteSize</key>
                <string>{110,24}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopN3.2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-137}</string>
                <key>spriteSize</key>
                <string>{110,24}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{1,27},{110,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopN3.3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-137}</string>
                <key>spriteSize</key>
                <string>{110,24}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{113,1},{110,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopN3.4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-137}</string>
                <key>spriteSize</key>
                <string>{110,24}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{113,27},{110,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopN.png</string>
            <key>size</key>
            <string>{292,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37732e84c6dfcb3e819e11eea4f237d5:c05e525981e72df5ed26826062c8fe37:192671a3a8c46630d004d745b2854ea9$</string>
            <key>textureFileName</key>
            <string>shopN.png</string>
        </dict>
    </dict>
</plist>
