<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S01-T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,242}</string>
                <key>spriteSourceSize</key>
                <string>{235,242}</string>
                <key>textureRect</key>
                <string>{{268,1},{235,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S04-T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,171}</string>
                <key>spriteSourceSize</key>
                <string>{264,171}</string>
                <key>textureRect</key>
                <string>{{1,144},{264,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S05-T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,216}</string>
                <key>spriteSourceSize</key>
                <string>{148,216}</string>
                <key>textureRect</key>
                <string>{{1,317},{148,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S08-T1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,141}</string>
                <key>spriteSourceSize</key>
                <string>{265,141}</string>
                <key>textureRect</key>
                <string>{{1,1},{265,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S08-T2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,217}</string>
                <key>spriteSourceSize</key>
                <string>{253,217}</string>
                <key>textureRect</key>
                <string>{{267,238},{253,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Skill.png</string>
            <key>size</key>
            <string>{511,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5b532fecfa48c1a3800be9fa8b129fe:662cc63bcbc72691e5c60524f29aa708:b8f11e14ae2621bcc647986c9e4b1c56$</string>
            <key>textureFileName</key>
            <string>Skill.png</string>
        </dict>
    </dict>
</plist>
